@model Address_Book.Models.Category

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>
<div class="glass-cf-style darkGlass boxPadding">
    <h4>Category</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="AppUserId" />

                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="col col-md-12 mt-4 mb-2">
                    <input type="submit" value="save" class="btn glass-button w-100 text-warning fw-bold" />
                </div>
            </form>
        </div>
    </div>
</div>

<div class="mt-2">
    <a asp-action="Index" class=" btn btn-success btn-sm">Back to List</a>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
